<!doctype html>
<html data-bs-theme="dark" lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Преобразование данных из АРШИН в ФСА</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/angular.min.js"></script>
</head>
<script type="text/javascript">
    var app = angular.module("CONVERTER_FORM", []);
    app.controller("CONVERTER_FORM_CTRL", function ($scope, $http) {

        $scope.records = [];
        let responseBody = {};
        let fileName = "";
        $scope.getRecords = function () {
            $scope.buildFormData();
            console.log('Отправляем запрос');
            showMessage("pleaseWaitMessage");
            $http({
                url: "/fsa",
                method: "POST",
                data: formData,
                headers: {
                    'Accept': '*/*',
                    'Content-Type': undefined
                }
            }).then(function successCallback (response) {
                hideMessage("pleaseWaitMessage")
                responseBody = response.data;
                filename = responseBody.filename;
                $scope.records = responseBody.records;
                indexingRecords();
                formData = new FormData();
            }, function errorCallback(response){
                hideMessage("pleaseWaitMessage")
                alert(response.data.message);
                console.log(response.data.message)
            });
        }

        function indexingRecords(){
         for (let i = 0; i < $scope.records.length; i++) {
            $scope.records[i].index = i+1;
         }
        }

        let formData = new FormData();
        $scope.buildFormData = function () {
            formData.append('file', file.files[0]);
        }


        function showMessage(id) {
          const message = document.getElementById(id);
          const messageBootstrap = bootstrap.Toast.getOrCreateInstance(message);
          messageBootstrap.show();
        }

        function hideMessage(id) {
          const message = document.getElementById(id);
          const messageBootstrap = bootstrap.Toast.getOrCreateInstance(message);
          messageBootstrap.hide();
        }


        $scope.createXML = function () {
            window.location.href = "/xml/fsa?filename="+filename;
        }

    });


</script>

<body ng-app="CONVERTER_FORM" ng-controller="CONVERTER_FORM_CTRL">
    <script src="js/bootstrap.bundle.min.js"></script>
    <div class="container text-center">
        <nav class="navbar bg-body-tertiary">
            <form class="container-fluid justify-content-start">
                <button class="btn btn-outline-primary me-2" type="button" onclick="location.href='/'">Домой</button>
            </form>
        </nav>

        <div class="row">
            <table class="table table-primary table-striped table-hover">
                <tr>
                    <th>№ п/п</th>
                    <th>Номер записи</th>
                    <th>Дата поверки</th>
                    <th>Дата действия поверки</th>
                    <th>Модификация</th>
                    <th>СНИЛС (поверитель)</th>
                    <th>Результат поверки</th>
                </tr>
                <tr ng-repeat="record in records">
                    <td>{{record.index}}</td>
                    <td><a href="https://fgis.gost.ru/fundmetrology/cm/results/{{record.vriId}}">{{record.numberVerification}}</a></td>
                    <td>{{record.dateVerification}}</td>
                    <td>{{record.dateEndVerification}}</td>
                    <td>{{record.typeMeasurementInstrument}}</td>
                    <td>{{record.employee.snils}}</td>
                    <td>{{record.resultVerification}}</td>
                </tr>
            </table>
        </div>
        <p></p>
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="pleaseWaitMessage" class="toast text-bg-primary" data-bs-autohide="false" role="alert" aria-live="assertive" aria-atomic="true">
              <div class="toast-header">
                <strong class="me-auto text-primary">Пожалуйста ожидайте...</strong>
              </div>
              <div class="toast-body" ng-model="waitCount">
                Читаем данные из файла и находим недостающее в ФГИС "Аршин".
                  <div>Поиск информации в ФГИС "Аршин" требует некоторого времении</div>
              </div>

            </div>
          </div>
          <p></p>
        <div class="row">
            <div class="col-md-12"><b>Выберите файл в формате XLSX, прочитать файл, после заполнения таблицы нажмите
                получить файл для ФСА</b></div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-6">
                <input class="inline-block" type="file" file-model="change.fnEvidence" name="file" ng-model="file"
                    data-rule-required="true" id="file" accept=".xlsx">
                <button class="btn btn-primary" ng-click="getRecords()" type="button">Прочитать
                    файл</button>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <button class="btn btn-outline-primary me-2" type="button" ng-click="createXML()">Получить файл для
                    ФСА</button>
            </div>
        </div>
        <div class="row">


        </div>
    </div>
</body>

</html>